.general-wrapper {
    margin-top: 200px;
}

.card {
    width: 500px;
    margin: auto auto 5% auto;
}

#github-login-btn {
    background-color: #269f42;
}

#github-login-btn:hover {
    background-color: #2bb455;
}

.github-login {
    color: gray;
}

.github-logo {
    width: 18px;
    margin: 9px 0 0 15px;
}

.user-list-wrapper {
    margin: 0 15% 0 15%;
}
